.infoMenu {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    font-size: 30px;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 30px;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.info p {
    margin-bottom: 0.5rem;
}

.info input {
    background: transparent;
    color: beige;
    border: 2px solid beige;
    border-radius: 20px;
    padding: 0.5rem;
    width: 50%;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.info input:hover {
    background-color: rgba(245, 245, 220, 0.316);
    transition: 0.5s;
}