.timer {
    margin: 3rem;
    border: 4px solid beige;
    border-radius: 100%;
    padding: 15%;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.timer:hover {
    transform: scale(1.05);
    background-color: rgba(245, 245, 220, 0.316);
    transition: 0.5s;
}