:root{
  --background-inicial: rgb(0, 170, 255);
  --background-work: rgb(219, 190, 0);
  --background-relax: rgb(0, 203, 105);
  --background-footer-inicial: rgb(0, 109, 164);
  --background-todo-inicial: rgb(0, 137, 206);
  --background-todo-work: rgb(200, 173, 0);
  --background-todo-relax: rgb(0, 176, 91);
  --background-footer-work: rgb(189, 164, 0);
  --background-footer-relax: rgb(0, 166, 86);
  --fonte-texto: 'SUSE';
  --cor-texto: beige;
}

body {
  min-height: 100vh;
  /* unidade vh (a altura do viewport), permitindo que o body defina um valor minimo de altura com base na altura total do viewport do usuario*/
  background-color: var(--background-inicial);
  color: var(--cor-texto);
  font-family: var(--fonte-texto);
}

/*STYLE HEADER*/
header {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: 40px;
  font-weight: bold;
}

/* STYLE FOOTER */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-footer-inicial);
  color: var(--cor-texto);
  font-size: 24px;
  transition: background-color 0.5s ease;
}

.footer p{
  padding-top: 1rem;
}

#desenv {
  margin-top: 1rem;
}

#nomeDesenv {
  margin-bottom: 2rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
